<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenOverlayManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <ScreenOverlayManager.Properties.Settings>
            <setting name="UpdateInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SavedDirectory" serializeAs="String">
                <value>overlays</value>
            </setting>
            <setting name="DefaultOverlayWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultOverlayHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultOverlayStrokeThickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultOverlayColor1" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="DefaultOverlayColor2" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="DefaultOverlayDrawCrosshair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOverlayPosition" serializeAs="String">
                <value>200,200</value>
            </setting>
            <setting name="DefaultOverlayDrawBorder" serializeAs="String">
                <value>True</value>
            </setting>
        </ScreenOverlayManager.Properties.Settings>
    </userSettings>
</configuration>